body {
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: 'Inter', sans-serif;
}


main {
  max-width: 1200px;
  margin: auto;
  padding: 2rem;
}

a {
  color: #a084e8;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

button {
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #6a00f4;
  color: white;
  transition: all 0.2s ease;
}

button:hover {
  background-color: #a084e8;
  color: white;
}
